## 1. IMPORT

In [ ]:
# install packages
#!pip install pandas
#!pip install numpy

In [145]:
# packages
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import scipy.stats

In [211]:
# import data
df = pd.read_csv("../../data/demand_anonymized_20170802.csv", sep = ";")

## 2. CHECKING DATA

In [266]:
# head
df.head()

,ID,First_MAD,SalOrg,DC,Ship_To,ordre,Plant,Material,ItemCat,OrderQty,...,ORIGINAL_SUPPLIER,SUBRANGE,Comp_reference_number,Name_Of_Competitor,COMP_PRICE_MIN,COMP_PRICE_AVG,COMP_PRICE_MAX,PRICE,NEAREST_COMP_PRICE_MIN,NEAREST_COMP_PRICE_MAX
0,2724174,2014-09-12,yqSu,TUiR,MsHvUF,ggT8Bq,vP6T,iR1zr2,lvOi,1,...,X6qzbY,qmsY,1.0,1.0,136.800,136.800000,136.80,152.95,136.80,136.80
1,2325939,2016-02-12,yqSu,csdY,BA5kLC,AIZGVy,vP6T,mD2b7j,lvOi,10,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1836800,2013-05-24,U12J,TUiR,MBZhLQ,8Z4g83,Cisr,AjywTn,lvOi,2,...,SXlc2j,bUkB,3.0,2.0,411.939,677.394667,830.28,908.60,830.28,830.28
3,2820654,2012-07-12,yqSu,csdY,9Co4iE,RNuiEu,vP6T,DPiXfc,lvOi,10,...,Rmt5iw,5cy5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5579286,2012-02-29,OQfZ,TUiR,88lPvN,KPTgL7,9O7Z,tOsuQV,lvOi,6,...,ikezPZ,1ftA,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# dimensions
df.shape

(5595701, 41)

In [150]:
# check the data
print(df.info())

Index(['ID', 'First_MAD', 'SalOrg', 'DC', 'Ship_To', 'ordre', 'Plant',
       'Material', 'ItemCat', 'OrderQty', 'LT', 'LogABC', 'MOQ', 'ROP',
       'SafetyStk', 'PL', 'MktABC', 'SubFct', 'Gross_Weight', 'Length',
       'Width', 'Height', 'Volume', 'Gamma', 'Manufacturer', 'Business',
       'Month', 'CBO_CBO_Qty_Shortage', 'Age_ZN_ZI_years', 'DP_FAMILY_CODE',
       'PRODUCT_STATUS', 'ORIGINAL_SUPPLIER', 'SUBRANGE',
       'Comp_reference_number', 'Name_Of_Competitor', 'COMP_PRICE_MIN',
       'COMP_PRICE_AVG', 'COMP_PRICE_MAX', 'PRICE', 'NEAREST_COMP_PRICE_MIN',
       'NEAREST_COMP_PRICE_MAX'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595701 entries, 0 to 5595700
Data columns (total 41 columns):
ID                        int64
First_MAD                 object
SalOrg                    object
DC                        object
Ship_To                   object
ordre                     object
Plant                     object
Material                  object
ItemCat                   object
OrderQty                  int64
LT                        float64
LogABC                    object
MOQ                       float64
ROP                       float64
SafetyStk                 float64
PL                        object
MktABC                    object
SubFct                    object
Gross_Weight              float64
Length                    float64
Width                     float64
Height                    float64
Volume                    float64
Gamma                     object
Manufacturer              object
Business                  object
Month                     object
CBO_CBO_Qty_Shortage      float64
Age_ZN_ZI_years           float64
DP_FAMILY_CODE            object
PRODUCT_STATUS            object
ORIGINAL_SUPPLIER         object
SUBRANGE                  object
Comp_reference_number     float64
Name_Of_Competitor        float64
COMP_PRICE_MIN            float64
COMP_PRICE_AVG            float64
COMP_PRICE_MAX            float64
PRICE                     float64
NEAREST_COMP_PRICE_MIN    float64
NEAREST_COMP_PRICE_MAX    float64
dtypes: float64(19), int64(2), object(20)
memory usage: 1.7+ GB
None

## 3. AGGREGATION

In [151]:
### variable lists

# grouping ID
id_cols  = ["SalOrg", "Month", "Material"]

# target 
tar_cols = ["OrderQty"]

# numeric
num_cols = df._get_numeric_data().columns
num_cols = [x for x in num_cols if x not in id_cols + tar_cols]

# factors
fac_cols = list(set(df.columns) - set(num_cols))
fac_cols = [x for x in fac_cols if x not in id_cols + tar_cols]

In [152]:
# computing target
Y = df.groupby(id_cols)[tar_cols].agg(np.sum).reset_index()
Y.head()

  SalOrg    Month Material  OrderQty
0   97LK  2012-01   00Ok8y         5
1   97LK  2012-01   00lqzT         2
2   97LK  2012-01   00mt9e         3
3   97LK  2012-01   03eCyI        66
4   97LK  2012-01   041azJ         3

In [153]:
# computing means for numeric X
X_num = df[num_cols + ["Material"]]
X_num = X_num.groupby("Material").agg(np.nanmean).reset_index()
X_num.head()

/Users/kozodoi/anaconda3/lib/python3.6/site-packages/pandas/core/groupby.py:933: RuntimeWarning: Mean of empty slice
  f = lambda x: func(x, *args, **kwargs)

,Material,ID,LT,MOQ,ROP,SafetyStk,Gross_Weight,Length,Width,Height,...,CBO_CBO_Qty_Shortage,Age_ZN_ZI_years,Comp_reference_number,Name_Of_Competitor,COMP_PRICE_MIN,COMP_PRICE_AVG,COMP_PRICE_MAX,PRICE,NEAREST_COMP_PRICE_MIN,NEAREST_COMP_PRICE_MAX
0,00GB1f,3.057749e+06,56.000000,64.000000,1.000000,0.000000,0.000368,0.402414,1.111111,0.346535,...,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,00IYcj,3.586071e+06,80.291914,5.000000,0.000000,45.070749,0.011472,1.307847,2.333333,0.346535,...,0.075171,2.607959,0.426278,0.426278,188.678774,188.678774,188.678774,149.426498,188.678774,188.678774
2,00MFcK,2.590318e+06,26.360406,11.050761,2.548223,10.736041,0.009688,3.561368,3.444444,0.668317,...,0.234783,NaN,0.916031,0.916031,157.518231,157.545673,157.573115,154.915442,157.518231,157.518231
3,00Ok8y,4.621360e+06,16.728205,16.805128,0.517949,6.184615,0.005368,0.804829,4.037037,1.336634,...,0.036585,5.178771,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,00W03x,7.036498e+06,7.000000,1.000000,0.000000,0.000000,0.060606,1.368209,1.481481,1.683168,...,4.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
# computing modes for factor X
X_mod = df[fac_cols + ["Material"]]
X_mod = X_mod.groupby("Material").agg(lambda x: scipy.stats.mode(x)[0][0]).reset_index()
X_mod.head()

/Users/kozodoi/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

,Material,PL,SUBRANGE,ordre,SubFct,DP_FAMILY_CODE,Ship_To,First_MAD,ORIGINAL_SUPPLIER,MktABC,Business,Gamma,ItemCat,PRODUCT_STATUS,Plant,DC,Manufacturer
0,00GB1f,NmYB,0,32eY5D,PjXe,0,ZUSFwm,2014-09-04,0,ARa9,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd
1,00IYcj,ss6l,Xwa6,S68V7C,PjXe,v5ZB,NDsnGg,2013-03-20,5JN562,OG0i,32af,syni,lvOi,TiQl,vP6T,TUiR,1nVy21
2,00MFcK,PLsu,KlUL,0FVqbc,PjXe,3Eik,1NAO37,2014-11-10,XLnosU,9rfJ,JLqu,MYF4,lvOi,TiQl,Cisr,TUiR,o86vTw
3,00Ok8y,PLsu,0,01utKR,PjXe,0,DGJHZD,2012-10-03,0,ARa9,JLqu,syni,lvOi,0,vP6T,TUiR,4knwEC
4,00W03x,ss6l,0,6q3qTm,Z6EE,0,gBj9Td,2017-01-24,0,ARa9,32af,haxD,lvOi,0,9O7Z,TUiR,HEHBDg

In [155]:
# check dimensions
print(X_num.shape)
print(X_mod.shape)

# merging the data
X = X_num.merge(X_mod)
print(X.shape)

(14670, 21)
(14670, 17)
(14670, 37)

## 4. MERGING DATA AND MISSING COMBINATIONS

In [156]:
# extract all unique values
l1 = list(Y.Month.unique())
l2 = list(Y.SalOrg.unique())
l3 = list(Y.Material.unique())

# create lists with combinations
lp1, lp2, lp3 = pd.core.reshape.util.cartesian_product([l1, l2, l3])

# convert to dataframe
combs = pd.DataFrame(dict(Month = lp1, SalOrg = lp2, Material = lp3))
combs.head()

  Material    Month SalOrg
0   00Ok8y  2012-01   97LK
1   00lqzT  2012-01   97LK
2   00mt9e  2012-01   97LK
3   03eCyI  2012-01   97LK
4   041azJ  2012-01   97LK

In [157]:
# merge missing combinations
print(Y.shape)
Y = Y.merge(combs, how = "right")
print(Y.shape)

(912353, 4)
(3696840, 4)

In [158]:
# merge X and Y
data = X.merge(Y, how = "right")
data.head()

,Material,ID,LT,MOQ,ROP,SafetyStk,Gross_Weight,Length,Width,Height,...,Business,Gamma,ItemCat,PRODUCT_STATUS,Plant,DC,Manufacturer,SalOrg,Month,OrderQty
0,00GB1f,3.057749e+06,56.0,64.0,1.0,0.0,0.000368,0.402414,1.111111,0.346535,...,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd,yqSu,2012-03,1.0
1,00GB1f,3.057749e+06,56.0,64.0,1.0,0.0,0.000368,0.402414,1.111111,0.346535,...,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd,yqSu,2012-04,3.0
2,00GB1f,3.057749e+06,56.0,64.0,1.0,0.0,0.000368,0.402414,1.111111,0.346535,...,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd,yqSu,2012-05,2.0
3,00GB1f,3.057749e+06,56.0,64.0,1.0,0.0,0.000368,0.402414,1.111111,0.346535,...,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd,yqSu,2012-06,1.0
4,00GB1f,3.057749e+06,56.0,64.0,1.0,0.0,0.000368,0.402414,1.111111,0.346535,...,32af,9AXw,lvOi,0,vP6T,TUiR,OEScPd,yqSu,2012-07,3.0

In [159]:
# check dimensions
data.shape

(3696840, 40)

## 5. IMPUTING MISSING VALUES

In [160]:
# percentage of missings
missings = data.isnull().sum() / data.shape[0]
missings[missings > 0]

LT                        0.000068
MOQ                       0.000068
ROP                       0.000068
SafetyStk                 0.000068
CBO_CBO_Qty_Shortage      0.039605
Age_ZN_ZI_years           0.571984
Comp_reference_number     0.000409
Name_Of_Competitor        0.000409
COMP_PRICE_MIN            0.666530
COMP_PRICE_AVG            0.666530
COMP_PRICE_MAX            0.666530
PRICE                     0.489298
NEAREST_COMP_PRICE_MIN    0.666530
NEAREST_COMP_PRICE_MAX    0.666530
OrderQty                  0.753207
dtype: float64

In [161]:
# impute missings for OrderQty
data.OrderQty = data.OrderQty.fillna(0)

# drop features with too many missings
data = data.drop(list(missings[missings > 0.4].index), axis = 1)

# recompute percentage of missings
missings  = data.isnull().sum() / data.shape[0]
left_vars = list(missings[missings > 0].index)

# impute missings for numerics
for var in left_vars:
    data[var] = data[var].fillna(data[var].median())

# recompute percentage of missings
missings  = data.isnull().sum() / data.shape[0]
missings

Material                 0.0
ID                       0.0
LT                       0.0
MOQ                      0.0
ROP                      0.0
SafetyStk                0.0
Gross_Weight             0.0
Length                   0.0
Width                    0.0
Height                   0.0
Volume                   0.0
CBO_CBO_Qty_Shortage     0.0
Comp_reference_number    0.0
Name_Of_Competitor       0.0
PL                       0.0
SUBRANGE                 0.0
ordre                    0.0
SubFct                   0.0
DP_FAMILY_CODE           0.0
Ship_To                  0.0
First_MAD                0.0
ORIGINAL_SUPPLIER        0.0
MktABC                   0.0
Business                 0.0
Gamma                    0.0
ItemCat                  0.0
PRODUCT_STATUS           0.0
Plant                    0.0
DC                       0.0
Manufacturer             0.0
SalOrg                   0.0
Month                    0.0
dtype: float64

In [199]:
# check the data
data.shape

(3696840, 32)

In [200]:
# export the known data
data.to_csv("../../data/data_known.csv")

## 5. MERGE THE UNKNOWN DATA

In [186]:
# import unknown data
unknown = pd.read_csv("../../data/eval_correct.csv")

In [220]:
# renaming some features
data.columns = ["y"    if x == "OrderQty" else x for x in data.columns]
data.columns = ["date" if x == "Month"    else x for x in data.columns]

In [ ]:
# substitute IDs
data.ID = np.zeros(len(data))

In [194]:
# adding target on the unknonwn data
unknown["y"] = np.NaN

# merging product properties with unknown data
print(unknown.shape)
unknown_vars = [x for x in X.columns if x in data.columns]
unknown_vars = [x for x in unknown_vars if x not in "ID"]
unknown_vars
X_unknown = X[unknown_vars]
unknown = unknown.merge(X_unknown)
print(unknown.shape)

(116028, 33)
(116028, 33)

In [226]:
# appending known and unknown data
print(data.columns)
print(unknown.columns)
unknown = unknown[data.columns]
data = data.append(unknown)
print(data.shape)

Index(['ID', 'SalOrg', 'Material', 'date', 'y', 'LT', 'MOQ', 'ROP',
       'SafetyStk', 'Gross_Weight', 'Length', 'Width', 'Height', 'Volume',
       'CBO_CBO_Qty_Shortage', 'Comp_reference_number', 'Name_Of_Competitor',
       'PL', 'SUBRANGE', 'ordre', 'SubFct', 'DP_FAMILY_CODE', 'Ship_To',
       'First_MAD', 'ORIGINAL_SUPPLIER', 'MktABC', 'Business', 'Gamma',
       'ItemCat', 'PRODUCT_STATUS', 'Plant', 'DC', 'Manufacturer'],
      dtype='object')
Index(['ID', 'SalOrg', 'Material', 'date', 'y', 'LT', 'MOQ', 'ROP',
       'SafetyStk', 'Gross_Weight', 'Length', 'Width', 'Height', 'Volume',
       'CBO_CBO_Qty_Shortage', 'Comp_reference_number', 'Name_Of_Competitor',
       'PL', 'SUBRANGE', 'ordre', 'SubFct', 'DP_FAMILY_CODE', 'Ship_To',
       'First_MAD', 'ORIGINAL_SUPPLIER', 'MktABC', 'Business', 'Gamma',
       'ItemCat', 'PRODUCT_STATUS', 'Plant', 'DC', 'Manufacturer'],
      dtype='object')

(3812868, 33)

## 6. CREATE AND TRANSFORM FEATURES

In [227]:
# function for feature engeniering
def create_features(data, lag_start = 1, lag_end = 12):
    
    # sort the data
    data = data.sort_values(by = ["SalOrg", "Material", "date"]).reset_index(drop = True)
    
    # create year and month
    data["year"]  = data.date.str[:4]
    data["month"] = data.date.str[5:]

    # create time of the year
    conditions = [
        (data['month'] == "12") | (data['month'] == "01") | (data['month'] == "02"),
        (data['month'] == "03") | (data['month'] == "04") | (data['month'] == "05"),
        (data['month'] == "06") | (data['month'] == "07") | (data['month'] == "08"),
        (data['month'] == "09") | (data['month'] == "10") | (data['month'] == "11")]
    choices = ['winter', 'spring', 'summer', 'fall']
    data['season'] = np.select(conditions, choices)
    
    # create demand lags
    for i in range(lag_start, lag_end + 1):
        data["lag_{}".format(i)] = data.groupby(["SalOrg", "Material"]).y.shift(i)
        
    # convert strings to integer
    data["year"]  = data.year.astype("int")
    data["month"] = data.month.astype("int")
    
    # drop the first year
    data = data[~data.year.isin(["2012"])]
    
    # drop irrelevant features
    data = data.drop(["Material", "date"], axis = 1)
    
    # return data
    return data

In [236]:
# create features
data = create_features(data)
print(data.shape)
print(data.columns)

Index(['ID', 'SalOrg', 'y', 'LT', 'MOQ', 'ROP', 'SafetyStk', 'Gross_Weight',
       'Length', 'Width', 'Height', 'Volume', 'CBO_CBO_Qty_Shortage',
       'Comp_reference_number', 'Name_Of_Competitor', 'PL', 'SUBRANGE',
       'ordre', 'SubFct', 'DP_FAMILY_CODE', 'Ship_To', 'First_MAD',
       'ORIGINAL_SUPPLIER', 'MktABC', 'Business', 'Gamma', 'ItemCat',
       'PRODUCT_STATUS', 'Plant', 'DC', 'Manufacturer', 'year', 'month',
       'season', 'lag_1', 'lag_2', 'lag_3', 'lag_4', 'lag_5', 'lag_6', 'lag_7',
       'lag_8', 'lag_9', 'lag_10', 'lag_11', 'lag_12'],
      dtype='object')

In [230]:
# number of missings
missings = data.isnull().sum()
missings[missings > 0]

y                        116028
LT                            3
MOQ                           3
ROP                           3
SafetyStk                     3
CBO_CBO_Qty_Shortage       2268
Comp_reference_number        18
Name_Of_Competitor           18
lag_1                     77352
lag_2                     38676
dtype: int64

In [232]:
# impute new missing
left_vars = ["LT", "MOQ", "ROP", "SafetyStk", "CBO_CBO_Qty_Shortage", "Comp_reference_number", "Name_Of_Competitor"]

# impute missings for numerics
for var in left_vars:
    data[var] = data[var].fillna(data[var].median())

# recompute percentage of missings
missings  = data.isnull().sum()
missings[missings > 0]

y        116028
lag_1     77352
lag_2     38676
dtype: int64

In [251]:
# list of catgoirical features
num_cols = data._get_numeric_data().columns
fac_cols = list(set(data.columns) - set(num_cols))
fac_cols = [x for x in fac_cols if x not in id_cols]

# number of categories
for var in fac_cols:
    print(str(var) + " - " + str(data[var].nunique()))

DP_FAMILY_CODE - 25
SUBRANGE - 20
ItemCat - 4
ORIGINAL_SUPPLIER - 91
DC - 4
PRODUCT_STATUS - 11
Plant - 3
MktABC - 5
season - 4
Business - 6
SubFct - 5

In [258]:
# drop features with too many categories
data = data.drop(["ordre", "Manufacturer", "ORIGINAL_SUPPLIER", "Ship_To", "First_MAD"], axis = 1)

# update the list of catgoirical features
num_cols = data._get_numeric_data().columns
fac_cols = list(set(data.columns) - set(num_cols))
fac_cols = [x for x in fac_cols if x not in id_cols]
fac_cols

['DP_FAMILY_CODE',
 'SUBRANGE',
 'ItemCat',
 'DC',
 'PRODUCT_STATUS',
 'Plant',
 'MktABC',
 'season',
 'Business',
 'SubFct']

In [280]:
# substitute zeroes that are NA
for var in fac_cols:
    data[var][data[var] == 0] = "0"

# do label encoder
le = LabelEncoder()
for var in fac_cols:
    data[var] = le.fit_transform(data[var])

/Users/kozodoi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## 6. SORT THE DATA

In [283]:
# sort the rows
data = data.sort_values(by = ["ID", "SalOrg", "year", "month"]).reset_index(drop = True)

# sort the columns
first_cols = ["ID", "SalOrg", "year", "month", "y"]
laged_cols = [x for x in data.columns if "lag" in x]
other_cols = [x for x in data.columns if x not in first_cols + laged_cols]
data = data[first_cols + laged_cols + other_cols]

# check the data
data.head()

(3108708, 41)

In [ ]:
# export full data
data.to_csv("../../data/data_full.csv")